
*.o
*.a
*.pyc
results


benchmarks
databaseBest0907
draw
log
oldVersion
record
SimulatedAnnealing
statsInfo
temp*
test*
1.png
*.gif
Alpha*
backup*
beta*
draw.sh
generalNewData.py
hcg.lp
hyperTuner.py
kill.sh
# Ignore .txt files except CMakeLists.txt
*.txt
!CMakeLists.txt
Placement_best0621.py
PlacementBest0907.py
PlacementFixedMacro.py
PlacementLLM0909.py
PlacementSimu.py
record.py
run*
SA.py
try.csv
try.py
vcg.lp